.ck { height: 800px; }

.img-container {
    max-width: 400px; /* 최대 너비 설정 */
    max-height: 400px; /* 최대 높이 설정 */
    width: auto; /* 너비 자동으로 조절 (비율 유지) */
    height: auto; /* 높이 자동으로 조절 (비율 유지) */
  }

.profile-image-container {
  max-width: 400px; /* 최대 너비 설정 */
  max-height: 400px; /* 최대 높이 설정 */
  width: auto; /* 너비 자동으로 조절 (비율 유지) */
  height: auto; /* 높이 자동으로 조절 (비율 유지) */
  overflow: hidden;
}